#container {
    background-color: grey;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    border: black solid;
}
#cableRojo {
    background-color: red;
    color: black;
}

#cableVerde {
    background-color: green;
    color: black;
}

#cableAmarillo {
    background-color: yellow;
    color: black;
}

body {
text-align: center;
}
